.cc {
  background-color: black;
  float: left;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.cc-title {
  color: red;
}

.cc-stream {
  width: 250px;
  height: 250px;
}

.cc-loading {
  color: red;
}

.cc-loaded {
  color: green;
}
